@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: hidden;
    }
  }

  body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  html {
    overflow-x: hidden;
    width: 100%;
  }

  * {
    max-width: 100vw;
    box-sizing: border-box;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }